
<div style="align-content: center; margin:4vh auto; width: 60%;">
  <h1 style = "text-align: center; font-family: 'lato'; font-size: 36px;">Customers</h1>
  <div style = "margin-bottom: 3.5vh; text-align: right;">
    <button mat-raised-button color="accent" (click) = 'openDialog()' >Add Customers</button>
  </div>
  <div class = "mat-elevation-z8">
    <mat-table matSort matSortActive = "id" matSortDirection = "desc" style = "border-collapse: collapse; border-radius: 30px;" [dataSource]="dataSource">

      <ng-container matColumnDef="id" >
        <mat-header-cell onclick="this.openDialog()" mat-sort-header *matHeaderCellDef> Customer Id </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.customerId}} </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Customer Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.customerName}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Customer Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.customerEmail}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="phone">
        <mat-header-cell mat-sort-header *matHeaderCellDef> Customer Phone </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.customerPhone}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50, 100]" (page) = "fetchData()" showFirstLastButtons ></mat-paginator>
  </div>
</div>

